  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tag_words = site_tags | split:',' | sort %}
<div class="tag-cloud">

{% for tag in tag_words %}
  <li style="font-size:{{ site.tags[tag] | size | times: 100 | divided_by: site.tags.size | plus: 80 }}%">
    <a class="tag" href="/tag/{{ tag | slugize }}/">
      {% assign realname = site.data.tags[tag].name %}
      <!-- use pretty name if available -->
      {% if realname %}{{ realname }}{% else %}{{ tag }}{% endif %}
    </a>
  </li>

{% endfor %}

</div>
